body { margin: 0; padding: 0; }
#map { position: fixed; width: 50%; height: 100vh; }
#features {
  width: 50%;
  margin-left: 50%;
  font-family: 'Open Sans', sans-serif;
  overflow-y: scroll;
  background-color: #fafafa;
  height: 100vh;
}
section {
  padding: 25px 50px;
  line-height: 25px;
  border-bottom: 1px solid #ddd;
  opacity: 0.25;
  font-size: 16px;
  transition: opacity 0.3s;
}
section.active {
  opacity: 1;
  background: #fff;
}
section:last-child {
  border-bottom: none;
  margin-bottom: 200px;
}
.mapboxgl-popup-content video,
.mapboxgl-popup-content iframe {
  width: 100%;
  max-width: 350px;
  display: block;
  margin: 10px 0;
}
